


.search-div{
    /* background-color: aqua; */
    width: 100%;
    /* margin: 0px 30px; */
    /* margin-left: 30px; */
    position: relative;
}
.search-div i{
    position: absolute;
    right: -3.5%;
    border-radius: 0px 5px 5px 0px;
    top: 0%;
    /* opacity: 0.7; */
    color: white;
    padding: 15px;
    background-color: #3f51b5;
}
.search-div input{
    border: 1px solid #ccc;
    padding: 15px 0px ;
    padding-right: 0%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);


}
.search-div input::placeholder{
   font-family: sans-serif;
    /* --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    /* --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}


.cocktails-suggestion{
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid gray;
    width: 103%;
    z-index: 9;
    border-radius: 4px;
    cursor: pointer;
    overflow-y: scroll;
    height: 250px;
}

.cocktails-suggestion p{
    margin: 0%;
    padding: 10px;
}
.cocktails-suggestion p:hover,.ordinary-drinks-suggestion p:hover{
    background-color: #3f51b5;
}
.ordinary-drinks-suggestion{
    
    position: absolute;
    top: 100%;
    height: 300px;
    z-index: 999;
    background-color: white;
    border: 1px solid gray;
    /* background-color: aqua; */
    width: 104%;
    cursor: pointer;
    overflow-y: scroll;
}

.cocktail-menu {
    /* background-color: aquamarine; */
    position: relative;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 15px;
    justify-content: flex-start;
    align-items:flex-start;
    cursor: pointer;
    overflow: hidden;
    font-size: larger;
    padding: 8px;

    background-color: white;
    font-family: 'Mulish', sans-serif;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);

}
 .ordinary-drinks-menu:hover{
    opacity: 0.5;
}

.cocktail-menu img {
    height: 100%;
    border-radius: 10px;
    transition: transform .4s;
    margin-right: 20px;
}
.cocktail-menu img:hover ,.ordinary-drinks-menu img:hover {
    transform: scale(1.2);
}

.ordinary-drinks-menu {
    /* background-color: orange; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
    padding: 3px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100px;
    margin: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    overflow: hidden;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ordinary-drinks-menu img {
    height: 100%;
    border-radius: 10px;
    transition: transform .4s;
    margin-right: 20px;
}
.overlay{
    background-color: transparent;
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 90%;
    height: 100%;
    z-index: 8;
}
.overlay2{
    background-color: rgba(102, 51, 153, 0.445);
    position: absolute;
    top: 0%;
    bottom: 0%;
    width: 90%;
    height: 100%;
    z-index: 0;
}

.single-drink-detail{
    /* background-color: orange; */
    /* height: 400px; */
    padding: 20px;
    /* overflow-y: scroll; */
}
.single-drink-detail img{
    height: 150px;
    border-radius: 5px;
}
h4{
    margin: 0%;
    margin-bottom: 5px;
    padding: 0%;
}
.top-div{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    position: relative;
}
.top-div button {
    background-color: #3f51b5;
    /* border: 1px solid white; */
    padding: 10px;
    border: none;
    position: absolute;
    right: 2%;
    top: 70%;
    border-radius: 3px;
    color: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}
.add-button{
    /* background-color: #3f51b5; */
    /* border: 1px solid white; */
    padding: 5px 10px;
    border: none;
    position: absolute;
    right: 2%;
    top: 15%;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 1px solid rgb(124, 124, 124);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.top-div button:hover,.add-button:hover{
    opacity: 0.5;
}
hr{
    border: 1px solid #ccc;
}
.drink-name{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    padding-bottom: 0%;
}
.alcohol-type{
    padding-top: 0%;
    padding: 10px;
    opacity: 0.7;
}
.details{
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}
.details h5{
    font-family: 'Mulish', sans-serif;
    margin: 0%;
    color: black;
}
.details h4{
    margin-bottom: 10px;
    margin-top: 5px;
    color: #3f51b5;
}
i{
    color: black;
}
.ingredients{
    padding-left: 20px;
}

.alcoholic-type{
    /* background-color: aqua; */
    width: 50%;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.switch-buttons{
    /* background-color: orange; */
    /* width: fit-content; */
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
}
.switch-buttons button{
    border: none;
    border-right: 1px solid white;
    padding: 10px;
    color: white;
}
.alcoholic{
    border-radius:10px 0 0px 10px;
    background-color: green;
    cursor: pointer;

}
.non-alcoholic{
    border-radius:0px 10px 10px 0px;
    background-color: green;
    cursor: pointer;
}
.opacity{
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.219);

}
.drink-name-title{
    /* background-color: aqua; */
    width: 50%;
    margin-left: 30px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.random{
    background-color: green;
    cursor: pointer;
}

/* ========================= */
.category-container{
        position: relative;
}
.drink-category{
    position: absolute;
    top: 0%;
    left: 60%;
    background-color: white;
    z-index: 9 !important;
    cursor: pointer;
    padding: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}
.drink-category p{
    margin: 0%;
    padding-top: 10px;
    text-align: center;
}

.single-drink{
    margin-left: 0px;
    padding-bottom: 10%;

        /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22); */
    border-bottom: 1px solid #ccc;
}
.single-drink:hover{
    background-color: #3f51b5;
    color:black ;
    transform: scale(1.02);
}

.menue-section{
    /* height: 500px; */
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: flex-start;
    gap: 10%;
    /* width: fit-content; */
    padding: 30px;
    /* position: sticky; */
    /* top: 50px; */
    /* bottom:0% !important; */
    /* top: 0%;  */
    /* position: relative; */
    /* overflow-y: hidden !important; */
    /* height: 500px; */
    z-index: 9;
    background-color: #f3f7f8;
}
.left-side-menu{
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.22);
    /* position:sticky; */
    /* top:  35%; */
    height: fit-content;
    border-radius: 5px;
    width: 20%;
    padding: 20px;
    font-size: larger;
    font-family: 'Mulish', sans-serif !important;
    
}
.ctegory-div{
    position: relative;
    cursor: pointer;
    /* background-color: blueviolet; */
}
.category-title:hover{
    /* opacity: 0.5; */
    background-color: #3f51b5;
    border-radius: 5px;
    padding: 10px;
}
.category-title{
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: flex-start;

}
.category-title i{
    /* background-color: blue; */
    /* height: 30px; */
    /* width: 30px; */
    margin-right: 10px;
}
.right-side-menu{
    /* background-color: rebeccapurple; */
    
    
}
.display-item{
    /* background-color: aqua; */
    /* width: 100%; */
    /* overflow-y: scroll; */

}
.left-side-menu p{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

h1{
    /* background-color: #3f51b5; */
    margin-top: 8%;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
}
